<div class="container">
    <h2>User Settings  </h2>
    <p>Playing with  Angular Forms 

      Databinding | Form Validation | Http | Form Controls | </p>
    <form #form = "ngForm" (ngSubmit)="onSubmit(form)">
        <div class="form-group">
            <label for="name">Name</label>
            <input 
            id="name" 
            name="name"
            class="form-control" 
            placeholder="Name" 
            [(ngModel)] = "userSettings.name" 
            required
            #nameField="ngModel"
            [class.field-error]="form.submitted && nameField.invalid"
            >
            <div [hidden] = "!form.submitted || nameField.valid"
              class= "alert alert-danger">Enter a name
            </div>
        </div>
        <div class="form-check form-group">
            <input class="form-check-input" type="checkbox" name="emailOffers" id="emailOffers" [(ngModel)] = "userSettings.subscriptionType">
            <label class="form-check-label" for="emailOffers">
              Email & other stuff
            </label>
        </div>

        <h5>User Interface style</h5>
        <div class="form-check">
            <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="light" checked [(ngModel)] = "userSettings.interfaceStyle">
            <label class="form-check-label" for="exampleRadios1">
              light
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="medium" [(ngModel)] = "userSettings.interfaceStyle">
            <label class="form-check-label" for="exampleRadios2">
              medium
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios3" value="dark"  [(ngModel)] = "userSettings.interfaceStyle">
            <label class="form-check-label" for="exampleRadios3">
              dark
            </label>
          </div>

          <div class="form-group">
              <label for="subscriptionType">Subscription Type</label>
              <select class="form-select" id="subscriptionType" name="subscriptionType" [(ngModel)] = "userSettings.subscriptionType">
                  <option>Lifetime</option>
                  <option>Monthly</option>
                  <option>Weekly</option>
                  <option>and much more options</option>
              </select>
          </div>

          <div class="mb-3">
            <label for="notes" class="form-label">Notes </label>
            <textarea class="form-control" id="notes" rows="3" ngModel></textarea>
          </div>

          <div class="form-group">
              <label for="password">Password</label>
              <input type="password" id="password" name="password" class="form-control" ngModel>
          </div>

          <div class="form-group">
            <label for="testing">testing </label>
            <input type="date" id="testing" name="testing" class="form-control">
            <label for="testing">Colorpicker </label>
            <input type="color" id="testing" name="testing" class="form-control form-control-color" [(ngModel)] = "userSettings.testing">
        </div>
        <button class="btn btn-primary">Send</button>
    </form>
</div>
 {{userSettings | json}}